coverage>=4.4.1
extras==1.0.0
fixtures==3.0.0
linecache2==1.0.0
pbr==3.1.1
pycodestyle>=2.5.0
python-mimeparse==1.6.0
testscenarios==0.5.0
testtools==2.3.0
traceback2==1.4.0
blessings==1.7
colour-runner==0.1.1
